[Unit]
Description=Crawler Service for ElasticSearch
After=docker.service
Requires=docker.service

[Service]
Type=forking
ExecStart=/path_to_scripts/docker-is_es_u.sh
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
